.user-popoup-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.userBoardPopup {
    display: flex;
    gap:16px;
    align-items: center;
} 

.userItem {
    display: flex;
    align-items: center;
    gap:24px;
}

.profileSmall {width:42px;height:42px;}

.taskPopupFooter {
    color: var(--gray);
}

.taskPopupFooter span {
    color: var(--main-color);
}

.first-letter-uppercase{
    display: inline-block;
}

.first-letter-uppercase::first-letter{
    text-transform: uppercase !important;
}

#showTaskPopup, #addTaskPopup {
    padding: 32px; 
  }

.drag-area {height:100vh}

.rotateCard{
    transform:rotate(20deg);
}