.user-popoup-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.userBoardPopup {
  display: flex;
  gap: 24px;
  align-items: center;
}

.userItem {
  display: flex;
  align-items: center;
  gap: 24px;
}

.profileSmall {
  width: 42px;
  height: 42px;
}

.taskPopupFooter {
  color: var(--gray);
}

.taskPopupFooter span {
  color: var(--main-color);
}

.taskPopup {
  max-width: 525px !important;
}
.first-letter-uppercase {
  display: inline-block;
}

.first-letter-uppercase::first-letter {
  text-transform: uppercase !important;
}

#showTaskPopup,
#addTaskPopup {
  padding: 32px;
}

.addTaskPopup {
  max-width: 1116px !important;
  /* min-height: 870px !important;
  max-height: 870px !important;
  height:100%; */
}

.drag-area {
  min-height: 50vh;
  margin-top: 16px;
}

.rotateCard {
  transform: rotate(8deg);
  transition: transform 200ms ease-in-out;
}

.drag-area-highlight {
  border: 1px dashed #a8a8a8;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.1);
}

#headline-user-assigned {
  color: var(--main-color);
  font-size: 20px;
}

.subtasksPopup {
  height: 72px;
  overflow-y: auto;
}
/* .error-alert{
  color: var(--danger-color);
} */

.mobileAddTaskButton, .mobileAddTaskButtonSmall {
  display: none;
}
.desktopAddTaskButton {
  display: inline-block;
}

.container-header-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dragDrop-menu-mobile{
  display: none;
}

.menu-mobile-task-container{
  position: absolute;
  background-color: var(--main-color);
  color: var(--white);
  padding: 12px;
  width: 120px;
  top:0;
  right: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.menu-mobile-task-container:hover{
  background-color: var(--menu-hover);
}

@media (max-width: 900px) {
  .sub-container {
    padding-bottom: 100px;

  }
  .mobileAddTaskButton {
    display: inline-block;
  }
  .desktopAddTaskButton:not(svg){
    display: none;
  }

  .mobileAddTaskButton {
    display: none;
  }

  .mobileAddTaskButtonSmall {display: flex;}

  .boardMobileHeader {

    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 16px;
  }

  .mobileAddTaskButtonSmall {
    height: 40px;
    width: 40px;

  }
  .boardHeader .searchContainer,#searchTask, .searchBox {
    width:100%;
  }

  .dragDrop-menu-mobile{
    display: inline-block;
    background-color: var(--main-color);
    border-radius: 100%;
    height: 30px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
  }

  .dragDrop-menu-mobile img{
    height: 90%;
    width: 90%;
  }

 
}
