.user-popoup-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.userBoardPopup {
  display: flex;
  gap: 24px;
  align-items: center;
}

.userItem {
  display: flex;
  align-items: center;
  gap: 24px;
}

.profileSmall {
  width: 42px;
  height: 42px;
}

.taskPopupFooter {
  color: var(--gray);
}

.taskPopupFooter span {
  color: var(--main-color);
}

.taskPopup {
  max-width: 525px !important;
}
.first-letter-uppercase {
  display: inline-block;
}

.first-letter-uppercase::first-letter {
  text-transform: uppercase !important;
}

#showTaskPopup,
#addTaskPopup {
  padding: 32px;
}

.addTaskPopup {
  max-width: 1116px !important;
  /* min-height: 870px !important;
  max-height: 870px !important;
  height:100%; */
}

.drag-area {
  min-height: 50vh;
  margin-top: 16px;
}

.rotateCard {
  transform: rotate(8deg);
  transition: transform 200ms ease-in-out;
}

.drag-area-highlight {
  border: 1px dashed #a8a8a8;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.1);
}

#headline-user-assigned {
  color: var(--main-color);
  font-size: 20px;
}

.subtasksPopup {
  height: 72px;
  overflow-y: auto;
}
/* .error-alert{
  color: var(--danger-color);
} */

