.contactsContainer {display: flex;
}

.contacts {
    background-color: aqua;
    padding:64px;
    overflow-y: scroll;
    /* position: relative;
    top: 86px; */
    
    /* height:100vh;
    width:456px; */
 
    /* top:0;    */
}

.sub-container {

    /* margin-left:456px; */
}