#innerDialog {
  /* width: 1212px !important; */
  max-width: 1212px;
  height: 592px;
}

.contactsContainer {
  display: flex;
}

.contacts {
  background-color: white;
  /* padding:64px; */
  /* overflow-y: scroll; */
  /* position: relative;
    top: 86px; */

  height: 100vh;
  width: 456px;

  /* top:0;    */
  box-shadow: 4px 0px 6px 0px #00000014;
}

.addContactBtn {
  padding: 16px 64px;
  background-color: white;
  position: relative;
  margin-right: 16px;
  margin-top: 6px;
}
.ContactBtn {
  width: 100%;
}

.contact-list {
  overflow-y: scroll;
  height: calc(100% - 227px);
  margin-top: -11px;
  /* padding: 85px 64px 0px 64px; */
  padding: 32px 24px 32px 24px;
}

.contact-list h3 {
border-bottom: 1px solid #eee;

padding: 17px 36px 17px 36px;


}

.contactDisplay {
  flex: 1;
}

body {
  overflow-y: hidden;
}

.letter {
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  padding: 16px;
  margin-bottom: 8px;
}

.contactBox {
  display: flex;
  gap: 35px;
  cursor: pointer;
  /* padding: 16px; */
  border-radius: 10px;
  padding: 15px 24px 15px 24px;

}


.contactBox .profileSmall {
width:42px !important;
height:42px !important;
text-align: center;
font-size:12px;
font-weight: 400;
/* margin:0;
padding:0px; */



}

.contactBox:hover:not(.activeContact) {
  background: linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%);
}
.contactMail {
  color: #007cee;
}
.contactName {
  font-size: 20px;
}
.activeContact {
  background-color: var(--main-color);
  color: white;
}
.contactHeader {
  display: flex;
  gap: 54px;
  align-items: center;
  font-size: 47px;
  font-weight: 500;
}

.contactDetailsInfo footer {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
}

.contactDetailsInfo {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-top: 64px;
}

.profileIconBig {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 120px;
  height: 120px;
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 4px 0px #0000001a;
  gap: 10px;
  border-radius: 50%;
  font-size: 47px;
}

.contactContent {
  display: flex;
  flex-direction: column;
  gap: 16px !important;
}

.contactContent footer span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px !important;
  cursor: pointer;
}

.contactContent h3 {
  font-size: 47px !important;
  font-weight: 500 !important;
  line-height:56.4px;
  text-align: left;
}

.contactPopup {
  display: flex;
  height: 592px;
}
#template {
  padding: 0;
}

.leftPopup {
  background-color: var(--main-color);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  /* padding: 64px; */
  color: white !important;
  width: 371px;
  padding: 66px 48px 66px 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}

.leftPopup h1 {
  color: white !important;
}

#contactPopupSubHeadline { 
  font-size: 27px;
  font-weight: 400;
  text-align: left;
}

#bottomLine {
  background-color: var(--primary-color);
  height: 3px;
  width: 90px;
  margin-left: 0;
  border-radius: 16px;
  border: unset;
}

.leftPopup img {
  width: 55.6px;
}

.rightPopup {
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 64px;
  flex: 1;
  padding: 64px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.contactPopup input {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  /* max-width: 422px; */
  width: 90%;
  padding: 13px 21px 13px 21px;
  margin-bottom: 32px;
  padding-right: 40px;
  outline-color: var(--primary-color);
  font-size: 20px;
}

.contactPopup .person {
  background: url("../img/person_white_icon.svg") no-repeat scroll;
  background-position: 97% center;
}

.contactPopup .email {
  background: url("../img/mail_icon.svg") no-repeat scroll;
  background-position: 97% center;
}

.contactPopup .phone {
  background: url("../img/call_icon.svg") no-repeat scroll;
  background-position: 97% center;
}

.contactPopupButtonsDiv {
  display: flex;
  gap: 24px;
  margin-top:16px;
}

.clear-button-add-task {
  /* font-family: 'Inter'; */
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  border-radius:10px;
  padding:16px;
  background-color: var(--white);
  border: 1px solid #2a3647;
}

.clear-button-add-task:hover {
  background-color: var(--white);
  color: var(--blue-bikini);
  border: 1px solid var(--blue-bikini);
  box-shadow: 0px 4px 4px 0px #00000040;
}

.closeShowContact {
  display:none;
}

 #addContactMobileBtn {
  display: none; 
} 
