@media screen and (max-width: 900px) {
  #main {
    margin-left: unset !important;
    /* width:100%; */
  }
  #mainNav {
    flex-direction: row !important;
    gap: 15px !important;
    justify-content: space-around;
  }

  #mainNav a {
    flex-direction: column;
    font-size: 14px;
    padding: 0 !important;
  }

  #footerNav {
    display: none !important;
  }
  #mainLogo {
    display: none;
  }
  #menu {
    height: 80px !important;
    width: 100% !important;
    position: fixed !important;
    bottom: 0;
    z-index: 100;
  }
  #contactDisplay {
    /* display: none; */
    background-color: var(--main-bg-color);
    /* display: flex; */
    position: absolute;
    top: 90px;
    height: 100vh;
    width: 100vw;
  }
  #main {
    margin: 0;
  }
  #contacts {
    width: 100%;
  }
  #header h1 {
    display: none;
  }

  #header {
    padding: 20px 16px !important;
    gap: 10px;
    z-index: 100;
  }

  #mobileLogo {
    display: block !important;
    width: 32px;
  }
  #helpLink,
  #addContactDesktopBtn {
    display: none;
  }

  .contact-list {
    overflow-y: scroll;
    height: calc(100% - 236px);
    margin-top: 0px;
    /* padding: 85px 64px 0px 64px; */
    padding: 8px !important;
    width: unset;
  }

  .contact-list h3 {
    border-bottom: 1px solid #eee;
    padding: 16px;
  }

  .contactBox {
    gap: 24px !important;
    padding: 16px;
  }

  #contactDisplay {
    display: none;
  }
  .closeShowContact {
    display: block;
    cursor: pointer;
    position: fixed;
    right: 24px;
    top: 128px;
  }

  #innerDialog {
    max-width: unset;
    height: unset;
    height: 80vh !important;
  }
  .contactPopup {
    flex-direction: column;
    height: unset;
    /* height: 50vh !important; */
  }

  .contactPopup .leftPopup {
    width: unset;
    border-bottom-left-radius: unset;
    border-top-right-radius: 30px;
  }

  .contactPopup .leftPopup img {
    display: none;
  }

  .contactPopup .rightPopup {
    flex-direction: column;
    padding-top: 0;
  }
  #profileIcon {
    margin-top: -65px;
  }
  .closeDialog {
    display: none;
  }
  .closeDialogWhite {
    display: unset;
  }

  #addContactMobileBtn {
    display: unset;
    position: fixed;
    bottom: 110px;
    right: 24px;
    padding: 0;
    margin: 0;
  }

  #addContactMobileBtn .button {
    border-radius: 50%;
    height: 56px;
    width: 56px;
  }



  /* .addContactBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
  } */

  /* #addContactDesktopBtn {
    display: none;  
  }

  #addContactMobileBtn {
    display: unset; 
  } */
}
