.bodyLogin {
	height: 55vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signUpTop {
	height: 49px;
	padding-top: 67px;
	padding-right: 8%;
	gap: 35px;
}
.signUpCheckBox {
color: #a8a8a8;
}

.signUpCheckBox a {
	color: var(--primary-color);
	}

.goBackButton {
	cursor: pointer;
	position: relative;
	width:32px;
	height:32px;
	
    left: 40px;
    top: 40px;
}

.goBackButton img:hover {
	background-color:var(--dark-gray);
	border-radius: 50%;
	

}

.signUpHeader {

	width:100%;
}

.logoIndex img {
	width: 100.03px;
	height: 121.97px;
	padding-left: 77px;
}

.signUpButton {
	/* padding: 15px 16px 15px 16px; */
	gap: 10px;
	border-radius: 8px;
	background-color: #2a3647;
	color: white;
	height: 49px;
	width: 91px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: all 200ms ease-in-out;
}


.HeadlinerLogin {
	width: 100%;
	height: 89px;
	gap: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 61px;
	line-height: 73.2px;
	font-weight: 700;
	border: unset;
}

.HeadlinerLine {
	width: 150px;
	height: 3px;
	background-color: #29abe2;
	border-radius: 12px;
	border: none;
}

.loginBox {
	background-color: white;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 630px;
	width: 652px;
	gap: 32px;
	padding: 48px, 115px, 48px, 115px;
}

.loginInputFields {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 7px;
    flex-direction: column;
}

.loginInputFields div {color:red;text-align: left;}

.emailClass {
	width: 422px;
	height: 30px;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 12px 21px 12px 21px;
	gap: 10px;
	font-size: 24px;
}

.passwordClass {
	width: 422px;
	height: 30px;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 12px 21px 12px 21px;
	gap: 10px;
	font-size: 24px;
}

.emailClass::placeholder,
.passwordClass::placeholder {
	font-size: 24px;
	padding-left: 22px;
	align-items: baseline;
}


.checkboxContainer {
	width: 652px;
	padding-left: 300px;

}

.loginButton {
	width: 126px;
	height: 55px;
	border-radius: 8px;
	font-weight: 700;
	line-height: 25.2px;
	size: 21px;
	background-color: #2a3647;
	color: white;
	border: unset;
	padding: 15px 24px 15px 24px;
	gap: 10px;
	margin-right: 32px;
	font-size: 21px;
	cursor: pointer;
	transition: all 200ms ease-in-out;
}

.loginButton:hover {
	background-color: #29abe2;
	box-shadow: 0px 4px 4px 0px #00000040;
}

.footerIndex {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
	gap: 35px;
	height: 35px;

}

.smallLinks:hover {
	color: #29abe2;
}

