html {
	/*Main colors*/
	--main-color: #2a3647;
	--main-bg-color: white;

	/*Elemental colors*/
	--black: black;
	--white: white;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#menu {
	width: 232px;
	background-color: var(--main-bg-color);
	color: var(--main-bg-color);
}

.container {
	display: flex;
}
