/* Summary*/
#summary {
	background-color: var(--main-bg-color);
	flex: 1;
}

.sub-container {
	padding: 64px;
	display: flex;
	flex-direction: column;
}

.height-100 {
	height: 100%;
}

.sub-container .headline h2 {
	font-size: 61px;
	font-weight: 700;
}

.sub-container .headline {
	display: flex;
	align-items: center;
	gap: 16px;
	height: 40px;
}

.sub-container .vertical-line {
	width: 2px;
	height: 120%;
	background-color: var(--blue-bikini);
}

.sub-container .headline p {
	font-size: 24px;
}

.summary-container {
	display: flex;
	margin-top: 64px;
}

.summary-container > div {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.summary-info {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.container-todo-done {
	display: flex;
	gap: 16px;
	width: 100%;
	max-height: 168px;
}

.container-todo-done figure,
.container-urgent figure {
	flex: 1;
	width: 100%;
	aspect-ratio: 1/1;
	background-color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	border-radius: 16px;
	gap: 8px;
	padding: 0 8px;
}

.container-todo-done figure img {
	width: 60%;
	height: 60%;
}

.container-todo-done figure figcaption,
.container-urgent figure figcaption {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.quantity-task {
	font-size: 32px;
	font-weight: 700;
	color: var(--main-color);
}

.name-task {
	color: var(--main-color);
	font-size: 14px;
}

.container-urgent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--white);
	width: 100%;
	max-height: 168px;
	border-radius: 16px;
}

.container-urgent .date-urgent {
	flex: 1;
	padding: 24px;
}

.container-urgent figure {
	height: 100%;
}

.vertical-line-urgent {
	width: 2px;
	height: 72%;
	background-color: var(--gray);
}

#date-urgent {
	font-weight: 800;
}

.date-urgent {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.deadline-info {
	font-size: 12px;
}

.container-progress-task {
	display: flex;
	gap: 8px;
	max-height: 168px;
	width: 100%;
	justify-content: space-between;
}

.container-progress-task figure {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	height: 100%;
	margin: 0;
	padding: 16px;
	border-radius: 16px;
}

.container-progress-task figure figcaption {
	text-align: center;
}

.greeting-container {
	display: flex;
	flex-direction: column;
}

.welcome-text {
	font-size: 40px;
	margin: 0;
	font-weight: 500;
}

.user-name {
	font-size: 48px;
	font-weight: 700;
	margin: 0;
	color: var(--primary-color);
}

.horizontal-line {
	display: none;
}
/*End Summary*/

@media (max-width: 1010px) {
	.greeting-container {
		display: none !important;
	}
	.sub-container .headline {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: auto;
		margin-bottom: 48px;
		gap: 0;
	}

	.sub-container .headline p {
		font-size: 24px;
		margin: 0;
	}

	.horizontal-line {
		display: block;
		width: 120px;
		height: 2px;
		background-color: var(--blue-bikini);
	}

	.vertical-line {
		display: none;
	}

	.summary-container {
		margin-top: 0;
	}

	.sub-container .headline p {
		font-size: 16px;
		margin: 0 0 16px 0;
	}
}

@media (max-width: 800px) {
	.quantity-task {
		font-size: 24px;
		font-weight: 600;
		color: var(--main-color);
	}
	.name-task {
		color: var(--main-color);
		font-size: 14px;
	}
}

@media (max-width: 650px) {
	.name-task {
		color: var(--main-color);
		font-size: 12px;
	}

	.headline h2 {
		font-size: 48px !important;
	}

	.container-progress-task figure {
		padding: 8px;
	}

	.sub-container {
		padding: 16px;
	}

	.sub-container .headline {
		margin-bottom: 0;
	}

	.summary-container {
		margin-top: 32px;
	}
}
