<h2>Add Task</h2>
<article>
	<form id="add_task_form">
		<div class="add_task_data">
			<section>
				<div class="form-control">
					<label for="title_task">Title<span>*</span></label>
					<input
						required
						id="title_task"
						type="text"
						placeholder="Enter a title"
					/>
				</div>
				<div class="form-control">
					<label for="description_task">Description</label>
					<textarea
						name="description_task"
						id="description_task"
						placeholder="Enter a Description"
						rows="5"
					></textarea>
				</div>
				<div class="form-control">
					<label for="assigned_task">Assigned to</label>
					<select name="assigned_task" id="assigned_task">
						<option value="Özkan(You)">Özkan</option>
						<option value="Alain">Alain</option>
						<option value="Raudel">Raudel</option>
					</select>
				</div>
			</section>
			<div class="add_task_separator"></div>
			<section>
				<div class="form-control">
					<label for="due_date_task">Due date<span>*</span></label>
					<input required id="due_date_task" type="date" />
				</div>
				<div class="form-control">
					<span>Prio</span>
					<div class="prio-container">
						<button>
							<span>Urgent</span
							><img
								src="./assets/img/urgent_high_priority_icon.svg"
								alt="Urgent"
							/>
						</button>
						<button>
							<span>Medium</span
							><img src="./assets/img/priority_symbols_icon.svg" alt="Medium" />
						</button>
						<button>
							<span>Low</span
							><img src="./assets/img/urgent_low_priority_icon.svg" alt="Low" />
						</button>
					</div>
				</div>
			</section>
		</div>
		<div>
			<button type="submit">Create Task</button>
		</div>
	</form>
</article>
