<h2>Add Task</h2>
<article>
	<form id="add_task_form">
		<div class="add_task_data">
			<section>
				<div class="form-control">
					<label for="title_task">Title<span>*</span></label>
					<input
						required
						id="title_task"
						type="text"
						placeholder="Enter a title"
					/>
				</div>
				<div class="form-control">
					<label for="description_task">Description</label>
					<textarea
						name="description_task"
						id="description_task"
						placeholder="Enter a Description"
						rows="5"
					></textarea>
				</div>
				<div class="form-control position-relative">
					<label for="assigned_task">Assigned to</label>
					<div class="select-option" onclick="showCheckboxes()">
						<select onclick="showCheckboxes()">
							<option>Select contacts to assign</option>
						</select>
						<div class="overSelect"></div>
					</div>

					<div
						name="assigned_task"
						id="assigned-task"
						class="assigned-task assigned-task-hidden"
					>
						<label class="checkbox-label" for="1"
							>Özkan <input type="checkbox" id="1"
						/></label>
						<label class="checkbox-label" for="2"
							>Alain <input type="checkbox" id="2"
						/></label>
						<label class="checkbox-label" for="3"
							>Raudel <input type="checkbox" id="3"
						/></label>
						<label class="checkbox-label" for="2"
							>Alain <input type="checkbox" id="2"
						/></label>
						<label class="checkbox-label" for="3"
							>Raudel <input type="checkbox" id="3"
						/></label>
						<label class="checkbox-label" for="2"
							>Alain <input type="checkbox" id="2"
						/></label>
						<label class="checkbox-label" for="3"
							>Raudel <input type="checkbox" id="3"
						/></label>
						<label class="checkbox-label" for="2"
							>Alain <input type="checkbox" id="2"
						/></label>
						<label class="checkbox-label" for="3"
							>Raudel <input type="checkbox" id="3"
						/></label>
						<label class="checkbox-label" for="2"
							>Alain <input type="checkbox" id="2"
						/></label>
						<label class="checkbox-label" for="3"
							>Raudel <input type="checkbox" id="3"
						/></label>
						<label class="checkbox-label" for="2"
							>Alain <input type="checkbox" id="2"
						/></label>
						<label class="checkbox-label" for="3"
							>Raudel <input type="checkbox" id="3"
						/></label>
						<label class="checkbox-label" for="2"
							>Alain <input type="checkbox" id="2"
						/></label>
						<label class="checkbox-label" for="3"
							>Raudel <input type="checkbox" id="3"
						/></label>
					</div>
				</div>
			</section>
			<div class="add_task_separator"></div>
			<section>
				<div class="form-control">
					<label for="due_date_task">Due date<span>*</span></label>
					<input required id="due_date_task" type="date" />
				</div>
				<div class="form-control">
					<span>Prio</span>
					<div class="prio-container">
						<div class="svgContainerButtonPrio">
							<span>Urgent</span
							><svg
								width="21"
								height="16"
								viewBox="0 0 21 16"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M19.6528 15.2547C19.4182 15.2551 19.1896 15.1803 19.0007 15.0412L10.7487 8.958L2.49663 15.0412C2.38078 15.1267 2.24919 15.1887 2.10939 15.2234C1.96959 15.2582 1.82431 15.2651 1.68184 15.2437C1.53937 15.2223 1.40251 15.1732 1.27906 15.099C1.15562 15.0247 1.04801 14.927 0.96238 14.8112C0.876751 14.6954 0.814779 14.5639 0.780002 14.4243C0.745226 14.2846 0.738325 14.1394 0.759696 13.997C0.802855 13.7095 0.958545 13.4509 1.19252 13.2781L10.0966 6.70761C10.2853 6.56802 10.5139 6.49268 10.7487 6.49268C10.9835 6.49268 11.212 6.56802 11.4007 6.70761L20.3048 13.2781C20.4908 13.415 20.6286 13.6071 20.6988 13.827C20.7689 14.0469 20.7678 14.2833 20.6955 14.5025C20.6232 14.7216 20.4834 14.9124 20.2962 15.0475C20.1089 15.1826 19.8837 15.2551 19.6528 15.2547Z"
									fill="#FF3D00"
								/>
								<path
									d="M19.6528 9.50568C19.4182 9.50609 19.1896 9.43124 19.0007 9.29214L10.7487 3.20898L2.49663 9.29214C2.26266 9.46495 1.96957 9.5378 1.68184 9.49468C1.39412 9.45155 1.13532 9.29597 0.962385 9.06218C0.789449 8.82838 0.716541 8.53551 0.7597 8.24799C0.802859 7.96048 0.95855 7.70187 1.19252 7.52906L10.0966 0.958588C10.2853 0.818997 10.5139 0.743652 10.7487 0.743652C10.9835 0.743652 11.212 0.818997 11.4007 0.958588L20.3048 7.52906C20.4908 7.66598 20.6286 7.85809 20.6988 8.07797C20.769 8.29785 20.7678 8.53426 20.6955 8.75344C20.6232 8.97262 20.4834 9.16338 20.2962 9.29847C20.1089 9.43356 19.8837 9.50608 19.6528 9.50568Z"
									fill="#FF3D00"
								/>
							</svg>
						</div>
						<div class="svgContainerButtonPrio">
							<span>Medium</span
							><img src="./assets/img/priority_symbols_icon.svg" alt="Medium" />
						</div>
						<div class="svgContainerButtonPrio">
							<span>Low</span
							><img src="./assets/img/urgent_low_priority_icon.svg" alt="Low" />
						</div>
					</div>
				</div>
				<div class="form-control">
					<label for="assigned_task">Category<span>*</span></label>
					<select name="category_task" class="category_task" id="category_task">
						<optgroup>
							<option value="1">Technical Task</option>
						</optgroup>
						<optgroup>
							<option value="2">User Story</option>
						</optgroup>
						<option value="" selected class="d-none">
							Select task category
						</option>
					</select>
				</div>
				<div class="form-control">
					<label for="sub_task">Sub task</label>
					<div class="container-subTask">
						<input id="sub-task" type="text" />
						<img
							id="add-sub-task"
							src="./assets/img/plus_icon.svg"
							alt="add sub task"
						/>
					</div>
					<ul id="container-new-subTask">
						<li>
							<span class="span-link">
								<span id="text-new-subTask">Contact form </span>
								<span id="span-link-edit-delete">
									<img src="./assets/img/pencil_icon.svg" alt="edit" />
									<img src="./assets/img/delete_icon.svg" alt="delete" />
								</span>
							</span>
						</li>
					</ul>
				</div>
			</section>
		</div>
		<div class="container-button-submit-add-task">
			<p><span>*</span>This field is required</p>
			<div class="button-submit-clear-add-task">
				<button class="clear-button-add-task">
					<span>Clear</span>
					<img
						class="cancel-icon-dark"
						src="./assets/img/close_icon.svg"
						alt="close button"
					/>
					<img
						class="d-none cancel-icon-blue"
						src="./assets/img/cancel_light_blue.svg"
						alt="close button"
					/>
				</button>
				<button type="submit" class="button">
					<span>Create Task</span>
					<img src="./assets/img/check_white_icon.svg" alt="add button" />
				</button>
			</div>
		</div>
	</form>
</article>
