<div>
<a href="./board.html"><img class="logo" src="../assets/img/join_logo_white.svg" alt="" /></a>
</div>

<nav id="mainNav">
  <a href="./summary.html"><img src="./assets/img/summary_icon.svg" alt=""> Summary</a>
  <a href="./add_task.html"><img src="./assets/img/addTask_icon.svg" alt=""> Add Task</a>
  <a href="./board.html"> <img src="./assets/img/boardTask_icon.svg" alt=""> Board</a>
  <a href="./contacts.html"><img src="./assets/img/contact_icon.svg" alt=""> Contacts</a>
</nav>

<nav id="footerNav">
  <a href="./pripo.html">Privacy Policy</a>
  <a href="#">Legal notice</a>
</nav>
